.expenseFormContainer{
    margin: auto;
    width: 50%;
    height: 150px;
    border: 3px solid rgb(10, 10, 99);
    border-radius: 10px;
    background-color: rgb(86, 98, 164);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: aliceblue;
    font-size: x-large;
    font-family: ui-sans-serif;
}

.upperDiv{
    width:100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputContainer{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label{
    height: 40%;
    width: 80%;
    margin-left: 5px;
}

.input{
    height: 30px;
    width: 80%;
    margin:5px;
    border: 1px solid rgb(10, 10, 99);
    border-radius: 3px;
}

.buttonContainer{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.expenseButton{
    width:50%;
    margin:5px;
    height: 40px;
    border: 2px solid rgb(10, 10, 99);
    border-radius: 10px;
    background-color: rgb(55, 75, 190);
    color: aliceblue;
    font-size: medium;
    font-family: ui-sans-serif;
}

@media screen and (max-width: 650px) {

    .expenseFormContainer{
        width: 90%;
    }
    .expenseButton {
        font-size: small;
    }
}