.dateContainer{
    width: 20%;
    height: auto;
    border: 2px solid rgb(10, 10, 99);
    border-radius: 10px;
    background-color: rgb(55, 75, 190);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    float: left;
    padding: 3px;
    font-size: large;
    font-family: ui-sans-serif;
}