.errorBg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    top: 30%;
    left: 20%;
    width: 60%;
    z-index: 100;
    overflow: hidden;
    background-color: aliceblue;
    border-radius: 3px;
    height:max-content;
}
  
.header {
background:rgb(10, 10, 99);
padding: 1rem;
}

.header h2 {
margin: 0;
color: white;
}

.content {
padding: 1rem;
}

.actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }