
.expenseFilterContainer{
    width:inherit;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(86, 98, 164);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
    color: aliceblue;
    font-size: large;
    font-family: ui-sans-serif;
}